.partnersDescription {
  max-width: 30rem;
  margin: var(--spacing-08) 0;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
}

.partnersList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: var(--spacing-32);
  justify-content: center;
  list-style-type: none;
}

.partnerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-24);
}

.partnerItem img {
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .partnersList {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: var(--spacing-16);
  }

  .partnerItem {
    padding: var(--spacing-16);
  }
}
