.valuesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.valueItem {
  border-bottom: 0.1rem solid #eee;
  padding: 1.5rem;
}

.valueTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
}

.valueNumber {
  display: block;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.valueDescription {
  font-size: 0.8rem;
  line-height: 1.6;
  font-size: small;
  font-weight: 200;
}

@media (max-width: 768px) {
  .valuesList {
    grid-template-columns: 1fr;
  }
}
